<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>咨询史</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <style>
        #a_h div{
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="a_h" style="margin: 30px; font-family: 楷体">
            <h4>咨询历史</h4>
            <div>姓名</div>
            <div>性别</div>
            <div>民族</div>
            <div>出生日期</div>
            <div>身份证号</div>
            <div>既往史</div>
            <div>家族遗传史</div>
            <div>药物过敏史</div>
        </div>
    </div>

</body>
</html>