<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>咨询史</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <style>
        #a_h div{
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="a_h" style="margin: 30px; font-family: 楷体">
            <h4>咨询历史</h4>
            <hr>
            <div>当前用户:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            {{ request.session.userName }}</div>
            <hr>
            <div>查询历史:<br>
                <ul class="list-group">
                    <li class="list-group-item active">历史查询</li>
                    {% for i in history_list %}
                    <li class="list-group-item"><a href="#">{{ i.record }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        <button type="button" class="btn btn-outline-danger">清空历史</button>
        </div>


</body>

<footer class="footer">
    <div class="container" style="text-align: center;">
        <p class="text-muted">&copy 北京信息科技大学信息管理学院信管1804LRL<br><br>Tel:13146171188</p>
    </div>
</footer>
</html>