<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <style>
        .juzhong {
            text-align: center;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">微智疗</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index">首页<span class="sr-only">(current)</span></a>
            </li>
            {#            {% endifequal %}#}
            {#            {% ifnotequal null request.user %}#}
            {% if 'tel'  not in  request.session.keys %}
                <li class="nav-item active">
                    <a class="nav-link" href="/dh/login">请登录</a>
                </li>
            {% else %}
                <li class="nav-item dropdown">


                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ request.session.userName }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {#                     <a class="dropdown-item" href="login">登录</a>#}
                        {#                     <a class="dropdown-item" href="register">注册</a>#}
                        <a class="dropdown-item" href="infor">健康档案</a>
                        <a class="dropdown-item" href="#">饮食推荐</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="logout">退出登录</a>
                    </div>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="common_medicine">常见药物</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="common_disease">常见病症</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    更多
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">寻求帮助</a>
                    <a class="dropdown-item" href="#">注意事项</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">more</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1"
                   aria-disabled="true">希望您通过“微智疗”，得到最准确又简洁的诊断。祝您健康！</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="search_medicine">
            {% csrf_token %}
            药物查询&nbsp&nbsp&nbsp<input class="form-control mr-sm-2" type="search" placeholder="请输入" aria-label="Search" name="user_input_content">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>
<div class="container">
    <div>
        <h1>注册用户</h1>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <form action="register" id="form_register" method="post">
            {% csrf_token %}
            <div class="form-group">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <label for="userName">用户名(*):</label>
                <input type="text" name="userName" class="form-control" placeholder="请输入您的用户名">
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                <label for="userPassword">密码(*):</label>
                <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="请输入您的密码">
            </div>
            <div class="form-group" style="text-align: left;">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                <label for="userGender">性别:</label>
                <input type="radio" name="userGender" checked value="男">男
                <input type="radio" name="userGender" value="女">女<br>
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <label for="userBirthday">出生日期(*):</label>
                <input type="date" class="form-control" id="userBirthday" name="userBirthday">
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <label for="tel">电话(*):</label>
                <input type="text" class="form-control" id="tel" name="tel" placeholder="请输入您的手机号">
            </div>

            <br>
            <button type="submit" class="btn btn-success" id="zhuce">提交</button>
            <button type="reset" class="btn btn-danger" id="reset">重置</button>
        </form>
    </div>
</div>
</body>
<footer class="footer">
    <div class="container" style="text-align: center;">
        <p class="text-muted">&copy 北京信息科技大学信息管理学院信管1804LRL<br><br>Tel:13146171188</p>
    </div>
</footer>
</html>