<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>基本情况</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <style>
        #aaa div{
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="aaa" style="margin: 20px; font-family: 楷体">
            <h4>个人信息</h4>
            <div class="row">
                <div class="col-md-3">
                    <form action="modifyInfor" method="post">
                        <label for="userName">姓名:</label>
                        <input class="input-group" value="{{ user.userName }}" readonly="true">
                    </form>
                </div>

            </div>

{#            <div><span onclick="modifyName()">姓名</span></div>#}
{#            {{ request.session.trueName }}#}
{#            <div>性别</div>#}
{#            {{ request.session.gender }}#}
{#            <div>出生日期</div>#}
{#            {{ request.session.birth }}#}
{#            <div>身份证号</div>#}
{#            {{ request.session.idNum }}#}
{#            <div>家族遗传史</div>#}
{#            {{ request.session.famGenHis }}#}
{#            <div>药物过敏史</div>#}
{#            {{ request.session.drugAllergyHis }}#}
        </div>

{#        <form>#}
{#            <input formmethod="post" type="text" >#}
{#        </form>#}
    </div>
    <input type="button" value="修改" style="margin-left: 100px; color: #1b1e21; background-color: #95999c; font-family: 楷体; border-radius: 10px" href="modifyInfor">
    <a href="modifyInfor.html">修改</a>

</body>
</html>