# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Doctor_home\Doctor_home\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
